body,footer{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color:  rgb(18,28,43);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

footer {
    color: antiquewhite;
    background-color: rgb(73, 73, 73);
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    color: rgba(122,184,11,0.2);
    font-size: 70px;
    display: flex;
    position: absolute;
    margin: 20px;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#njoki {
    top: 500px;
}

span{
    background:url("Sticker_Heart.png");
    width: 100px;
    height: 100px;
    position: absolute;
    pointer-events: none;
    background-size: cover;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    animation: animate 6s linear;
}

@keyframes animate {
    0% {
        transform: translate(-50%,-50%);
        opacity: 1;
        filter: hue-rotate(0)
    }
    100% {
        transform: translate(-50%,-5000%);
        opacity: 0;
        filter: hue-rotate(720deg);
    }
}